 *{
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
 }
 table.col-1 {
    overflow: auto;
  }

  hex-viewer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    position: absolute;
    border-radius: 5px;
    overflow: auto;
    padding: 10px;
  }

  td {
    text-align: center;
  }

  col-1 {
    overflow: auto;
    border-left: 4px solid #000;
    margin: 3px;
  }

  col-2 {
    overflow: vertical;
  }

  div.info-frame {
    overflow: vertical;
    flex-grow: 1;
    margin: 2px;
    position: -webkit-sticky;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
