.hex-wrapper {
  display: grid;
  grid-template-columns: 9rem 16rem auto;
  overflow: auto;
  font-size: 10px;
  font-family: "Courier New", Courier, monospace;
  border: 2px solid #ccc;
  border-radius: 15px;
  background-color: #ddd;

}

hex-viewer>td {
  text-align: center;
}

.outer-wrapper{
  margin: 1rem;
}

.upper_opts {
  margin-left: 1rem;
}

.col-1>table {
  border: 2px solid #ccc;
}

.col-2>table {
  border: 2px solid #ccc;
}

td{
  cursor: pointer;

}

div.info-frame {
  overflow: vertical;
  flex-grow: 1;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 2px solid #ccc;
}

.hex-tabs{
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;  
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  margin: 50px;
  padding-left: 5px;
  padding-right: 5px;
}


